.container.mx-auto
	header.px-8.py-4.fixed.h-20.top-5px.left-5px.flex.items-center.justify-between.rounded-10.drop-shadow-lg.bg-background-header.z-40(class="w-[calc(100%_-_10px)] sm:w-[calc(100%_-_20px)] backdrop-blur-[10px]")

		include ../svg/header-logo.svg
		.btn-primary Купить




