section.w-full.max-h-560px.rounded-44px.bg-blue.overflow-hidden
	.swiper.max-h-560px
		.swiper-wrapper
			.swiper-slide
				video#first-video.video-slide(autoplay='' muted='')
					source(src="/src/video/Pexels.mp4" type='video/mp4')
					p Ваш браузер не поддерживает элемент видео.
			.swiper-slide
	.swiper-pagination
	.swiper-button-prev
	.swiper-button-next


